@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    @apply py-10 px-6;
}
.section-title {
    @apply text-2xl font-bold mb-6; 
}
.btn {
    @apply px-6 py-3 mr-4 text-sm font-semibold;
}
.btn--orange {
    @apply bg-primary text-white border-primary border;
}


.btn--white{
    @apply bg-white text-black border-black border ;
}
.read-more {
    @apply text-xs font-medium text-primary;
}
.card-title {
    @apply text-sm font-bold my-2;
}
.card-category {
    @apply text-xs font-medium text-gray-600;
}
.product-section {
    .product-section-vertical {
        &__tabs {
            @apply w-full my-2;
        }
        &__item {
            @apply relative pl-1 pr-2 mx-2;
            &:after {
                content: "";
                width: 0.06rem;
                height: 60%;
                background-color: #535353;
                position: absolute;
                top: 0.2rem;
                right: -0.5rem;

            }
        }
        &__item-title{
            @apply tracking-normal text-gray-700 text-xs font-semibold;
        }
        &--last-item{
            &:after {
                display: none;
            }
        }
        &--active-item{
            @apply border-b-2 border-primary;
        }
        &__imageWrapper {
            @apply w-full mx-auto;
            img {
                @apply w-full;
            }
        }
        &__product-name {
            @apply pb-1 text-lg font-bold;
        }
        &__product-tag {
            @apply hidden bg-yellow-600;
        }
        &__product-description {
            @apply mb-3;
        }
    }
    .product-section-horizontal {
        &__item {
            @apply relative px-1 py-2;
        }
        &__product-tag {
            @apply bg-primary text-white font-bold uppercase text-xs py-1 px-2;
        }
        &--active-item {
            @apply py-6;
            .up-down-buttons {
                @apply absolute flex flex-col h-8 -ml-8 pb-6;
            }
            .product-section-horizontal__item-title {
                @apply pb-1 text-lg font-extrabold text-black
            }
            .product-section-horizontal__product-description {
                @apply mb-10;
            }
        }
        &--inactive-item {
            .product-section-horizontal__item-title {
                @apply text-gray-400 font-semibold;
            }
            .product-section-horizontal__buttons-wrapper {
                @apply hidden;
            }

            .up-down-buttons {
                @apply hidden;
            }

            .product-section-horizontal__product-description {
                @apply hidden;
            }
        }
    } 
}
.news-section {
    @apply bg-gray-100 w-full;
    &__featured-card {
        @apply mb-6;
    }
    &__featured-card-imageWrapper {
        @apply w-full;
        img {
            @apply w-full;
        }
    }
    &__featured-card-title {
        @apply text-sm font-bold mt-3 mb-1;
    }
    &__news-card {
        @apply flex flex-row w-full mb-6;
    }
   
    &__news-card-imageWrapper {
        @apply w-1/2;
    }
    &__news-card-text{
        @apply w-1/2 mx-0 px-3;
    }
}
.media-panel {
    @apply relative flex flex-col h-auto;
    background: #f1efd9;
    &__text-wrapper {
        @apply flex flex-col items-center justify-center w-full h-auto py-10;
    }
    &__inner-text {
        @apply w-10/12;
    }
    &__title {
        @apply text-2xl font-bold;
    }
    &__desc{
        @apply text-sm mb-10;
    }
    &__image-wrapper {
        @apply w-full h-auto;
    }
    &__image {
        @apply w-full h-auto;
    }
    &--full-image {
        @apply bg-gray-900 text-white; 
    }
}

/* .share {
    &-wrapper {
        display: grid;
        grid-template-columns: repeat(4,1fr); 
    }
    &-item {
        background: gray;
    }
} */

.share-media {
    &__columns {
        @apply flex  flex-col w-full px-3 pt-8;
    }
    &__column {
        @apply flex flex-col w-full h-auto;
    }
    &__item {
        @apply relative m-1 cursor-pointer;
        &:hover {
            .share-media__item-overlay {
                @apply block;
            }
            .share-media__item-text {
                @apply block;
            }
        }
    }
    &__item-overlay {
        @apply absolute hidden h-full w-full bg-gray-700 opacity-50 z-0;
    }
    &__item-text {
        @apply absolute inset-0 p-4 text-gray-400 text-sm hidden z-10;
    }
}
.footer-wrapper {
    @apply  bg-gray-800 py-10 pl-16 sm:pl-32;
}
.footer-menus {
    @apply   flex flex-wrap w-full justify-evenly text-gray-200;
}
.footer-menu {
    &__wrapper{
        @apply  text-left w-1/2 mb-4;
    }
    &__title {
        @apply text-sm font-bold;
    }
    &__list {
        @apply  mt-4 text-xs ;
        
    }
    &__item {
        @apply text-gray-500;
        &:hover{
            @apply text-white;
        }
    }
}
@screen sm {
    .footer-menu {
        &__title {
            @apply text-base;
        }
        &__list {
            @apply text-base;
        }
    }
}
@screen md{
    .news-section {
        &__cards{
            @apply flex flex-row w-full;
        }
        &__featured-card {
            @apply w-8/12;
        }
        &__news-cards {
            @apply w-4/12;
        }
        &__news-card {
            @apply flex flex-col items-start w-full ml-6 pr-6;
        }
        &__news-card-imageWrapper{
            @apply w-full mb-4;
        }
    }
    .share-media {
        &__columns {
            @apply flex flex-row w-full px-20 pt-32;
        }
        &__column {
            @apply flex flex-col w-1/4 h-auto;
        }
        &__item {
            @apply relative m-1 cursor-pointer;
            &:hover {
                .share-media__item-overlay {
                    @apply block;
                }
                .share-media__item-text {
                    @apply block;
                }
            }
        }
        &__item-overlay {
            @apply absolute hidden h-full w-full bg-gray-900 opacity-75 z-0;
        }
        &__item-text {
            @apply absolute inset-0 p-4 text-gray-300 text-sm hidden z-10;
        }
    }
    .footer-menu {
        &__wrapper{
            @apply md:w-1/4;
        }
        
    }
}
@screen lg{
    .product-section-vertical {
        @apply hidden;
    }
    .news-section {
        &__news-card {
            @apply ml-10 pr-10;
        }
    }
    .wrapper {
        @apply py-10 px-10;
    }
    .media-panel {
        @apply relative flex flex-row w-full h-70vh;
        background: #f1efd9;
        &__text-wrapper {
            @apply absolute flex flex-col items-center justify-center w-1/2 h-full py-10;
        }
        &__inner-text {
            @apply w-8/12;
        }
        &__title {
            @apply text-2xl font-bold;
        }
        &__desc{
            @apply text-sm mb-10;
        }
        &__image-wrapper {
            @apply absolute w-1/2 h-full overflow-hidden object-cover bg-no-repeat;
        }
        &__image {
            @apply w-full min-h-full;
        }
        &--full-image {
            @apply bg-gray-900 text-white bg-scroll; 
        }
        &--text-first {
            .media-panel__text-wrapper {
                @apply left-0;
            }
            .media-panel__image-wrapper {
                @apply right-0;
            }
        }
        &--text-last {
            .media-panel__text-wrapper {
                @apply right-0;
            }
            .media-panel__image-wrapper {
                @apply left-0;
            }
        }
        &--full-image {
            .media-panel__image-wrapper {
                @apply w-full h-auto;
            }
        }
    }
    
}